@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Custom CSS */
.card-container {
  width: 280px;
  height: 500px;
  margin: 15px auto;
}
.card {
  border-radius: 20px;
  box-shadow: -2px 0px 1px rgb(29, 53, 87, 0.6);
}

.card-head {
  position: relative;
  height: 252px;

  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #457b9d 8%, #1d3557 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #457b9d 8%, #1d3557 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #457b9d 8%, #1d3557 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
  position: absolute;
  left: 0;
  top: -4px;
  margin-left: 50px;
}

.product-detail {
  padding: 0 6px;
  font-size: 7px;
  letter-spacing: 2px;
  color: #f1faee;
  text-transform: uppercase;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 170px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 0px 0px 0px 20px;
  display: flex;
  font-size: 17px;
  font-weight: 500;

  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #f1faee;
  background: #1d3557;
  padding: 2px 5px 4px 6px;
  border-radius: 4px;
  margin-bottom: 0px;
  margin-left: 20px;
  top: -44px;
}

.product-caption {
  display: flex;
  margin-top: 0;
  padding: 0px 20px;
  font-size: 10px;
  font-weight: 400;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #f35e3d;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 10px;
  margin-right: 20px;
  padding-bottom: 0px;
  text-transform: uppercase;
  color: #e63946;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  background: #1d3557;
  padding: 4px 18px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #f1faee;
  border-radius: 7px;
  margin-left: -15px;
  margin-bottom: 20px;
  box-shadow: -10px 20px 15px -10px rgba(168, 218, 220, 0.3);
}

.product-price b {
  margin-left: 5px;
}
